{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="py-5 custom py-5" style="background-color: #2C3930">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose Category Below...</p>
        </div>
    </div>
</header>
<br><br></br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-11">
                <!-- {{ categories }} -->
                {% for category in categories %}
                    <div class="card text-center">
                        <div class="card-header">
                          <h4>{{  category }}</h4>
                        </div>
                        <div class="card-body">
                          <!-- <h5 class="card-title">Explore all products available in {{ category }}.</h5> -->
                          <p class="card-text">Explore all products available in {{ category }}.</p>
                          <a href="{% url 'category' category %}" class="btn btn-secondary">See All</a>
                        </div>
                      </div><br></br>
                <!-- <h3><a href="{% url 'category' category %}">{{ category }}</a></h3> -->
                {% endfor %}
            </div>

        </center>
    </div>
</div>
<br></br><br></br><br></br><br></br><br></br>

{% endblock %} 